body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: rgba(70, 70, 70, 0.9);
  position: fixed;
  z-index: 10;
}

.header-wrapper {
  height: 80px;
  text-align: left;
}

.header-image {
  float: left;
  height: 80px;
  cursor: pointer;
  margin-right: 5px;
}

.header-image:hover {
  background-color: #c0c0c0;
  transition: all 1s;
}

.title {
  display: inline-block;
  font-size: 40px;
  line-height: 60px;
  color: #84c1ff;
  text-align: left;
  margin: 10px 0;
}

.icon{
  display: inline-block;
  color: #84c1ff;
  padding: 4px 4px;
  margin: 5px 5px;
  border-radius: 2px;
  background-color: #747474;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}


.top-wrapper {
  text-align: center;
  background-image: url(OKA_Plane01.jpg);
  background-size: cover;
}

.bkmask {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

/*.top-wrapper::before {
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: url(OKA_Plane01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  z-index: -1;

}*/



.nihonchizu {
  box-sizing: border-box;
  margin-top: 100px;
  width: 70%;
  height: 80%;
  opacity: 0.85;

}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 6px #464646;
  transition: all 0.3s;
}

.btn:active {
  box-shadow: none;
}

/* 各都道府県 */

.OSA {
  position: absolute;
  top: 75%;
  left: 45%;
  background-color: rgba(255, 215, 0, 0.9);
}

.FUK {
  position: absolute;
  top: 60%;
  left: 25%;
  background-color: rgba(65, 105, 225, 0.9);
}


.OKA {
  position: absolute;
  top: 65%;
  left: 10%;
  background-color: rgba(220, 20, 60, 0.9);
}


/*btn hover*/

.OSA:hover {
  transition: all 1s;
  background-color: rgba(255. 215, 0, 0.5);
}

.FUK:hover {
  transition: all 1s;
  background-color: rgba(65, 105, 225 ,0.5);
}


.OKA:hover {
  transition: all 1s;
  background-color: rgba(220, 20, 60, 0.5);
}

/*Smartphone向け*/
.btn_p {
  display: none;
}
